@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

:root{
    -clr-dark:  #010100;
   -clr-light: #ffff;
    --primary-color: #efd593;
    --secondary-color: #f86f15;
}

::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f0e7;
 visibility: var(--secondary-color);
}

#mis{
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-size: larger;

}


#vis{
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-size: larger;

}


#his{
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-size: larger;

}

h1{
    font-family: 'Delicious Handrawn', cursive;
}
section {
    max-width: 1000px; 
    margin: 0 auto;
    padding: 20px;
}

.section{
    width: 100%;
    min-height: 100vh;
}

.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section{
    float: left;
    width: 40%;
}

.image-section{
    float: right;
    width: 40%;
    position: relative;
    top: 20px;
    border-radius: 5px;
   
}

.image-section img{
    width: 100%;
    height: 100% auto;
    position: relative;
    bottom: 50px;
    border-radius: 5px;
    background-color: crimson;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 20px;
}

.content-section .content h4{
    margin-top: 20px;
    color: #413e3e;
    font-size: 25px;
}

.content-section .content p{
margin-top: 10px;
font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: justify;
  font-size: 17px;
  line-height: 1.5;
  margin: auto;
  letter-spacing: normal;
  word-spacing: 0%;
}

/* Vision section */

.section1{
    width: 100%;
    min-height: 100vh;
    /* background-color: #ddd; */
}

.container1{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section1{
    float: right;
    width: 55%;
}

.image-section1{
    float: left;
    width: 40%;
}

.image-section1 img{
    width: 100%;
    height: 380px auto;
    position: relative;
    /* bottom: 0px; */
    border-radius: 5px;
    
}


.content-section1 .content1 h3{
    margin-top: 10px;
    color: #333232;
    font-size: 25px;
}

.content-section1 .content1 p{
    margin-top: 5px;
    font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: justify;
  font-size: 17px;
  line-height: 1.5;
  margin: auto;
  letter-spacing: normal;
}


/* media query section */

@media screen and (max-width: 768px) {
    .container{
        width: 95%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width: 95%;
        display: block;
        margin: auto;
    }
.image-section{
    float: none;
        width: 95%;
        display: block;
        margin: auto;
}
.content-section .title{
    text-align: center;
    font-size: 10px;
    
}

.container1{
    width: 95%;
    display: block;
    margin: auto;
    padding-top: 50px;
}
.content-section1{
    float: none;
    width: 95%;
    display: block;
    margin: auto;
}
.image-section1{
float: none;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.content-section1 .title{
text-align: center;
font-size: 5px;

}

.image-section1{
    float: none;
        width: 100%;
        height: 70%;
        display: block;
        margin: auto;
    }

#mainc{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 80px auto;
    margin: 0 auto;
    /* background: #ddd; */
    font-family: "merriweather";
}

.person{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px auto;
}

.container2{
    height: 312px auto;
    width: 100%;
    cursor: pointer;
    transform: scale(0.48);
    transition: transform 250ms
    cubic-bezier(0.2, 0, 0.2, 1);
}

.circle{
    position: absolute;
    background: var(--color);
    height: 360px auto;
    width: 360px auto;
    top: 210px auto;
    left: 10px auto;
    border-radius: 30%;

}

.person img{
    position: relative;
    width: 100%;
    top: 60px auto;
    right: 110px auto;
    transform: translate(20px) scale(1.15);
    transition: transform 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
    
}

.container-inner{
        position: relative;
        clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
        top: -200px;
}

.divider{
    height: 3px;
    width: 80%;
    border-radius: 5px;
    background: var(--color);
}

.person h1{
    color: #464646;
    margin: 16px 0 0 0;
}

.person p{
    font-family: arial;
    color: #5d5d5d;
    font-size: 14px;
    margin-top: 5px;
}

}

#mainc{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 80px auto;
    margin: 0;
    /* background: #ddd; */
    font-family: "merriweather";
}

.person{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.container2{
    height: 312px;
    width: 400px;
    cursor: pointer;
    transform: scale(0.48);
    transition: transform 250ms
    cubic-bezier(0.2, 0, 0.2, 1);
}

.circle{
    position: absolute;
    background: var(--color);
    height: 380px;
    width: 380px;
    top: 210px;
    left: 10px;
    border-radius: 50%;

}

.person img{
    position: relative;
    width: 600px;
    top: 60px;
    right: 110px;
    transform: translate(20px) scale(1.15);
    transition: transform 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
    
}

.container-inner{
        position: relative;
        clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
        top: -200px;
}

.divider{
    height: 3px;
    width: 130px;
    border-radius: 5px;
    background: var(--color);
}

.person h1{
    color: #464646;
    margin: 16px 0 0 0;
}

.person p{
    font-family: arial;
    color: #5d5d5d;
    font-size: 14px;
    margin-top: 5px;
}


/* hover section */

.container2:hover{
    transform: scale(0.54);
}

.container2:hover img{
    transform: translate(0) scale(1.3);
}

#ri{
    position: relative;
    right: 130px;
}

#pra{
    position: relative;
    right: 130px;
}

#aj{
    position: relative;
    right: 120px;
}

#ta{
    position: relative;
    right: 120px;
}

.tea{
    text-align: center;
    position: absolute;
    bottom: 390px;
    color: #464646;
}

.history-section2{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.history-section2 .container3 img{
    width: 30%;
    height: auto;
    float: left;
    margin: 7px;
    position: relative;
    left: 50px;
    bottom: 20px;
}

#ama{
    position: relative;
    left: 15px;
    width: 90%;
    height: 5% auto;
}

#mission1{
    position: relative;
    top: 15px;
}

#vision{
    position: relative;
    top: 15px;
}























